.Header {
  position: relative;
  width: 100%;
  height: 72px;
  z-index: 1;
   background: #F9F9F9;
}
.h-logo {
  position: absolute;
  top: 10px;
  left: 13.02%;
  width: 140px;
  height: 40px;
}
.haveLogin {
  position: absolute;
  top: 14px;
  left: 64.62%;
  width: 42px;
  height: 42px;
}
.userNameTitle {
  position: absolute;
  top: 21px;
  left: 67.69%;
  height: 28px;
  width: 200px;
  font-size: 20px;
  color: #FF8000;
  border-width: 0;
  outline: none;
}
.exitBtn {
  position: absolute;
  top: 23px;
  left: 82.13%;
  height: 28px;
  width: 40px;
  font-size: 18px;
  color: #4A4A4A;
}
.personalTitle {
  position: absolute;
  display: inline-block;
  width: 88px;
  height: 30px;
  left: 13.02%;
  top:171px;
  font-size: 22px;
  color: #FF8000;
}
.left_up {
  position: relative;
  left: 21.3%;
  margin-top: 23px;
  width: 62.5%;
  height: 200px;
  background: white;
}
.blackSpan {
  display: inline-block;
  position: absolute;
  left: 96px;
  height: 28px;
  font-size: 20px;
  color: #4A4A4A;
}
.orangeSpan {
  display: inline-block;
  position: absolute;
  height: 28px;
  font-size: 20px;
  color: #FF8000;
}
.wechatPublicImg{
  margin-left: 81.67%;
  margin-top: 26px;
  width: 87px;
  height: 87px;
}
.followWechat {
  text-align: center;
  margin-left: 80%;
  width: 127px;
  height: 25px;
  color: #FF8000;
  font-size: 18px;
}
.payBoard {
  position: absolute;
  margin-top: 15px;
  width: 62.5%;
  height: 626px;
  background-color: white;
  margin-left: 21.3%;
}
.continuePay img {
  display: inline-block;
  margin-top: 20px;
  margin-left: -20px;
  width: 127px;
  height: 45px;
}
.continuePay span {
  position: absolute;
  margin-left: -100px;
  margin-top: 25px;
  font-size: 18px;
  color: white;
}
.priceView {
  margin-top: 19px;
  margin-left: 11.92%;
  margin-right: 13.58%;
  /*background-color: red;*/
  width: 74.5%;
  height: 148px;
}
.packagesItem0 {
  position: relative;
  display: inline-block;
  margin-left: 2.237%;
  width: 31.096%;
  height: 148px;
  text-align: center;
  border: 1px solid #CCCCCC;
}
.packagesItem1 {
  position: relative;
  display: inline-block;
  margin-left: 2.237%;
  width: 30%;
  height: 148px;
  text-align: center;
  border: 1px solid #CCCCCC;
}
.packagesItem2 {
  position: relative;
  display: inline-block;
  margin-left: 2.237%;
  width: 31.096%;
  height: 148px;
  text-align: center;
  border: 1px solid #CCCCCC;
}
.months {
  display: inline-block;
  font-size: 28px;
  margin-top: 26px;
  height: 40px;
}
.payBoard_title {
  margin: 43px 0 0 13.58%;
  color: #4A4A4A;
  font-size: 22px;
}
.payWaysView {
  width: 72.83%;
  height: 275px;
  margin-top: 10px;
  margin-left: 13.58%;
  border: 1px solid #CCCCCC;
}
.payWaysView .left {
  width: 26.845%;
  height: 273px;
  background-color: #F0F0F0;
}
.payWaysView .left .leftItem {
  height: 91px;
  background-color: #F0F0F0;
  border: 1px solid #CCCCCC;
}
.payWaysView .left .leftItemNormal {
  height: 91px;
  background-color: #FFFFFF;
}
.payWaysView .left .leftItem img {
  width: 67.916%;
  height: 40px;
  margin-top: 27px;
  margin-left: 15.83%;
}
.payWaysView .left .leftItemNormal img {
  width: 67.916%;
  height: 40px;
  margin-top: 27px;
  margin-left: 15.83%;
}
.payWaysView .right {
  position: relative;
  margin: 0;
  width: 73.155%;
  height: 273px;
  background-color: white;
}
.rightPayPalContent {
  position: relative;
  width: 75.236%;
  height: 206px;
  margin-top: 66px;
  height: 80px;
  margin-left: 24.76%;
}
.rightPayPalContent img {
  width: 163px;
  height: 80px;
}
.paypalTitle {
  display: inline-block;
  width: 130px;
  height: 100%;
}
.rightPayPalContent a {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  line-height: 70px;
  color: white;
  width: 46.596%;
  height: 70px;
  background: #0997E1;
}
.wechatPay{
  position: absolute;
  top: 0;
  /*margin-left: 15.45%;*/
  width: 100%;
  height: 100%;
}
.wechatPay img {
  position: absolute;
  top: 41px;
  left: 9%;
  width: 190px;
}
.wechatPayTitle {
  position: absolute;
  top: 107px;
  left: 51.811%;
}
.payQRCode {
  position: absolute;
  width: 150px;
  top: 60px;
  left: 9%;
}





.bottomView {
  margin-top: 641px;
  width: 100%;
  background: #CCCCCC;
  height: 40px;
}
/*ss*/
